<html>
    <head>
        <title>Main Menu</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        <!link rel=stylesheet type=text/css href="style.css">
		<meta http-equiv=“Content-Type” content=“text/html; charset=utf-8”>
		<meta name="viewport" content="width=450, initial-scale=0.90">
    </head>
    <body>
      <div class="container">
		<br>
		<div class="content">
			<br>
			<img src="static/storagenow.png" width="330">
			<br><br>
			<a href="adhocbackup" class="btn-blue">Adhoc Backup</a>
			<br><br>
			<a href="registervm" class="btn-blue">Register VM</a>
			<br><br>
			<a href="restorebackup" class="btn-blue">Restore Backup</a>
			<br><br>
			<a href="vm" class="btn-blue">Create VM</a>
			<br><br>
			<a href="cmdb" class="btn-blue">Show VM Ownership</a>
			<br><br>

			<img src="static/dell_emc_logo.png" width="300">
			<br>
			<br>
		</div>
	  </div>
    </body>
</html>
 
